*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root{
    --ligh-green: #8BAA75;
    --mediun-green:#446644;
    --light-brown: #DAC594;
    --mediun-bronw:#AD905B;
    --dark-bronw:#655133;
    --dark-bronw-hsl:hsl(36, 33%, 20%);
    --honey-brown: #8C6E36;
    --shadow-black: rgba(0, 0, 0, 0.300);
}

button{
    width: auto;
    height: 40px;
    border: none;
    cursor: pointer;
    color: white;
}

body{   
    height: 100vh;
    width: 100vw;
    background-color: var(--light-brown);
    font-family: Arial, Helvetica, sans-serif;   
}

.header-box{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mediun-green);
    transition: all 700ms;
}

#bar-brown{
    height: 20px;
    width: 100%;
    background-color: var(--dark-bronw);
}

.containerBody{
    width: 1080px;
    height: 80%;
    display: flex;
    flex-direction: column;
    transition: all 700ms;
}

.navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0rem;
    transition: all 700ms;
}
 
.btn-nav{
    width: 265px;
    font-weight: 600;
    height: 45px;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: var(--mediun-green);
    box-shadow: 0px 3px 	hsl(120, 20%, 23%);
    transition: all 300ms;
}

.btn-nav:hover{
    color: #F9DF16;
    font-size: 18px;
}

.content-card-body{
    width: 100%;
    height: 81%;
    display: flex;
    gap: 0.3rem;
    border-radius: 10px 0px 0px 0px;
    transition: all 700ms;
}

.category-box{
    min-width: 30%;
    height: 100%;
    transition: all 700ms;
}

.crafting-calculator-box{
    width: 70%;
    height: 100%;
    transition: all 700ms;
}

.box-title{
    height: 50px;
    width: 100%;
    background-color: var(--mediun-bronw);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;   
    border-radius: 5px 5px 0px 0px;
    transition: all 700ms;
} 
 
.containerCategory, .containerCalculator{
    width: 100%;
    height: 100%;
    margin-top: .3rem;
    overflow-y: auto;
    background-color: var(--dark-bronw);
    box-shadow: 0px 4px var(--dark-bronw-hsl);
    border-radius: 0px 0px 5px 5px;
}

.containerCategory::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.containerCategory::-webkit-scrollbar{
	width: 10px;
}

.containerCategory::-webkit-scrollbar-thumb{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--mediun-bronw);
}

.button-container {
    padding: 0.7rem;
}

.button-container > button {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    text-align: justify;
    font-weight: 600;
    text-shadow: 2px 2px 4px black;
    background-color: var(--mediun-bronw);
    box-shadow: 0px 3px  hsl(39, 33%, 42%);
}

.item-list {
    height: 100%;
    margin-bottom: 0.7rem;
    margin-left: 0.5rem;
}

.item-list > div {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: end;
    margin-bottom: 0.5rem;
}

.item-list > div > a {
    width: 100%;
    font-size: 1.1rem;
    padding-left: 0.3rem;
    text-shadow: 2px 2px 3px black;  
}

.item-list > div > a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.item-list > div > img{
    width: 25px;
    height: 25px;
}

.containerTitle{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.cardItemHeader {   
    width: 100%;
    height: 60px;
    margin: 1rem 1rem 0rem 0rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#itemName, #itemDesc{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    padding: .5rem;
    text-shadow: 2px 2px 3px black; 
}

#itemName{
    height: 100%;
    font-size: 2rem;
    background-color: var(--mediun-bronw);
    box-shadow: 5px 5px 5px var(--shadow-black);
}
#itemDesc{
    font-size: 1rem;
}

#imgRecipe{
    height: 16px;
    width: 16px;
}

#opc{
    opacity: 0;
}

.imgItem {
    height: 60px;
    min-width: 60px;
    background-color: var(--mediun-bronw);
    box-shadow: 5px 5px 5px var(--shadow-black);
    padding: 0.7rem ;
    border-radius: 5px 0px 0px 5px; 
}


.cardItemBody{
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    text-shadow: 2px 1px 3px black;
}

.cardItemBody > h1 {
    font-size: 1.3rem;
    padding: .3rem;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: .2rem;
    background-color: var(--mediun-green);
}

.cardItemBody > p {
    width: 100%;
    display: grid;
    grid-template-columns: 3% 82% 15%;
    align-items: center;
    padding: .1rem .2rem;

    font-size: 1.1rem;
    background-color: var(--mediun-bronw);
}

.cardItemBody > p > span {
    width: 100%;
    text-align: end;
    padding-right: .4rem;
}

#itemDefault, #itemDefaultRecipe, #itemDefaultQuantidade{
    font-size: 1.5rem;
    color: #F9DF16;
}

#itemXp{
    font-size: 1.5rem;
    color: #00c3ff;
}

.buttonRangeContainer{
    height: 80px;
    width: 100%;
    display: grid;
    gap: 1rem ;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    padding: 1rem;
}

.buttonRangeContainer > input {
    width: 120px;
    height: 100%;
    text-align: center;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-size: 1.5rem;
    transform: translateY(-3px);
    text-shadow: 2px 1px 2px black;   
}

.numberInput {
-moz-appearance: textfield; 
appearance: textfield; 
} 

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.separate{
    width: 100%;
}

.aninButton{
    border-radius: 5px;
    cursor: pointer;
    outline-offset: 4px;
}


.aninButton span{
    width: 100px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    font-size:2rem;
    color: #fff;
    /* text-shadow: 0px 1px 0px #000;   */
    
}

.aninButton {
    background: hsl(45deg 100% 32%); 
}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 5px;
    font-size: 1.25rem;
    background: hsl(45deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}

.aninButton:active .front {
    transform: translateY(-2px);
}

select, option{
    color: black;
    height: 30px;
    width: 100px;
}


#level{  
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}

/* Level Progress Bar */
.progress {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--mediun-bronw);
    padding: .2rem;
    border-radius: 5px;
    text-shadow: 1px 1px 3px black;
}

.progress-bar {
    width: 0;
    margin: 0;
    height: 100%;
    background-color: var(--mediun-green);
    transition: all .5s;
    border-radius: 5px;
}
#progressText{
    position: absolute;
    width: 300px;
    margin: 5px 260px; 
}

/* Media querys */

@media only screen and (max-width: 1100px) {
    .navbar{
        flex-wrap: wrap;
        gap: .5rem;
        margin: 0.5rem 0rem;
        transition: all 700ms;
    }
    .btn-nav{
        width:100%;
        height: 35px;
        transition: all 700ms;
    }
    .content-card-body{
        flex-wrap: wrap;
        gap: 4rem;
        transition: all 700ms;
    }
    .containerBody{
        width: 90%;
        height: 100%;
        transition: all 700ms;
    }
    .category-box{
        width: 100%;
        height: 235px;
        transition: all 700ms;
    }
    .crafting-calculator-box{
        width: 100%;
        height: 500px;
        transition: all 700ms;
    }
}

@media only screen and (max-width:  600px) {
    .header-box{
        height: 80px;
        align-items: center;
    }
    .header-box > img {
        width: 150px;
        height: 60px;
    }
    .buttonRangeContainer{
        padding: 0;
        display: flex;
        width: 100%;
    }
    .front{
        display: none;
    }
    .cardItemHeader{    
        height: 35px;
    }
    #itemName{
        font-size: 1.2rem;
    }
    .imgItem{
        height: 35px;
        padding: .4em 1.1rem;
    }
    .box-title{
        display: none;
    }
    .content-card-body{
        gap: 1rem;
    }
    .cardItemBody > p{
        grid-template-columns: 5% 40% 55%;
    }
    .containerCategory, .containerCalculator{
        border-radius: 5px;
    }
    #progressText{
        position: absolute;
        width: 100px;
        margin: 5px 120px; 
    }
}